{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pizza-roller.2.jpg' %}" alt="Pizza" />

            <div
                class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                <div class="col-12">
                    <h5 class="mb-3">{% trans "Log In" %}</h5>
                    <p>
                        {% blocktrans %}If you haven't created an account yet, you can do that {% endblocktrans %}
                        <a href="{% url 'user_signup' %}">
                            {% blocktrans %}here!{% endblocktrans %}
                        </a>
                    </p>

                    <form action="{% url 'account_login' %}" method="post" class="remove">
                        {% csrf_token %}
                        {{ form.as_p }}                    
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                        {% endif %}
                    
                        <button class="btn btn-success" type="submit">
                            {% trans "Log In" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}