{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <hr class="mx-auto" style="width: 75%" />
    <section class="d-flex align-items-center justify-content-center">
        <div class="hero position-relative">
            <div class="container">
                <img class="img-fluid login-image" src="/static/img/333064805_760223689005819_9082627831218226945_n.jpg"
                    alt="Sebbe och Petter i vagnen" />

                <div class="login-form position-absolute top-50 start-50 translate-middle row d-flex justify-conent-center align-items-center text-center">
                    <div class="col">
                        <h3 class="text-white">{% trans "Sign In" %}</h3>

                        <p class="text-white">{% blocktrans %}If you have not created an account yet, then please
                        <a class="text-white" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    </div>
                        
                    <div class="row d-flex justify-content-center align-items-center">
                        <form class="text-white" action="{% url 'account_login' %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-signup" type="submit">{% trans "Sign In" %}</button>
                        </form>
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
