{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<hr class="mx-auto m-0" style="width: 75%">
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pizza-roller.jpg' %}" alt="Background image of a pizza and a pizza slicer">

            <!-- Change password div -->

            <div
                class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                <div class="col-12">
                    {% if messages %}
                        <ul class="messages text-center">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                        <button class="text-center go_back">
                            <a href="{% url 'edit_profile' %}">Go back</a>
                        </button>
                    {% else %}
                        <form method="POST" action="{% url 'change_password' %}" class="resposive-text-size">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-primary resposive-text-size" type="submit" name="action">Update</button>
                            <button type="submit" class="btn btn-danger resposive-text-size">
                                <a href="{% url 'edit_profile' %}" style="color: white;">Cancel</a>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

