{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="/static/img/pexels-vincent-rivaud-2233348.jpg"
                alt="Pizza and sunglasses" />

            <div
                class="mx-auto pwc-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                <h3 class="text-center mb-3">Password Reset</h3>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-center">Forgotten your password? Enter your email address and we will send you an email allowing you to reset your password.</p>
                    <div class="col">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="resposive-text-size">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="text-center" type="submit" name="action">Reset</button>
                            <button type="submit" class="cancel">
                                <a href="{% url 'edit_profile' %}">Cancel</a>
                            </button>
                        </form>
                        <p class="text-center contact-us mt-3">
                            If you run in to trouble, please <a href="mailto:simon.jellvert@hotmail.com">contact us</a> and we will help you!
                        </p>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}