{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% block head_title %} 
{% trans "Signup" %} 
{% endblock head_title %} 
{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image"
                src="{% static 'img/pizza-roller.2.jpg' %}" alt="Pizza" />

            <div class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-conent-center align-items-center text-center">
                <div class="col">
                    <h3 class="mb-3 mt-3">{% trans "Create an Account" %}</h3>
                    <p class="resposive-text-size">
                        Welcome to the PizzaTruck! <br />When your account is created you will be able to create bookings, handle them and leave reviews about your visit on the truck.
                    </p>
                    <hr class="w-50 mx-auto" style="color: white"/>
                    <p class="resposive-text-size">Please, fill out the form:</p>
                </div>

                <div class="row mb-3">
                    <form action="{% url 'account_signup' %}" method="POST" class="resposive-text-size">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        {% if redirect_field_value %}
                        <input class="input-fields" type="hidden" name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-success mt-1" type="submit">
                            {% trans "Create Account" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
