{% extends "base.html" %} {% load static %} {% load allauth i18n socialaccount
%} {% block head_title %} {% trans "Signup" %} {% endblock head_title %} {%
block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
  <div class="hero-signup position-relative">
    <div class="container">
      <img
        class="img-fluid d-flex align-items-center justify-content-center signup-image"
        src="/static/img/pizza-roller.2.jpg"
        alt="Pizza"
      />

      <div
        class="mx-auto signup-form top-50 start-50 translate-middle row d-flex justify-conent-center align-items-center text-center"
      >
        <div class="row">
          <h3 class="mb-3">{% trans "Skapa Ett Konto" %}</h3>
          <p class="resposive-text-size">
            Välkommen till PizzaVagnen! <br />När ditt konto är skapat kommer du
            kunna skapa och hantera bokningar samt lämna recensioner om ditt
            besök hos oss.
          </p>
          <hr style="color: white" />
          <p class="resposive-text-size">Varsågod och fyll i fälten</p>
        </div>

        <div class="row mb-3">
          <form
            action="{% url 'account_login' %}"
            method="post"
            class="resposive-text-size"
          >
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input
              class="input-fields"
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="btn btn-signup create-button mt-3" type="submit">
              {% trans "Skapa Konto" %}
            </button>
          </form>
          {% include "socialaccount/snippets/login.html" with
          page_layout="entrance" class="resposive-text-size" %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}