{% extends "base.html" %} 
{% load static %} 
{% load cloudinary %}
{% block content %}

<!-- Image section -->
<section>
    <div>
        <!-- Images looping every 5 seconds -->
    </div>
</section>

<!-- About section -->
<section>
    <div class="container text-center mx-auto">
        <hr class="mx-auto" style="width: 75%;">
        <h3 class="mt-5">This is the PizzaTruck!</h2>
        <p>
            The truck is operated by Sebastian and Petter, two friends who share the joy of indulging in a delicious slice of pizza
            whenever the opportunity arises!
            <br /><br>
            We are always on the move and our restaurant is wherever you want it to be. 
            <br /><br>
            If we're not at the company next door serving lunch or in your neighbor's garden serving dinner, we've set up the truck at open events such as concerts,
            sports events, or similar occasions to serve you something tasty to eat.
            <br /><br>
            If you want to book the truck, please do that by clicking the link above. We look forward to meeting you!
        </p>
    </div>
</section>

<!-- Upcoming events section -->
<section>
    <div class="container text-center mt-5">
        <hr class="mx-auto" style="width: 50%;">
        <h4 class="mt-5">Upcoming open events</h1>
        {% if user.is_authenticated and user.is_staff %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEventModal">
            Add Event
        </button>
        {% endif %}
    </div>

    <!-- Add Event Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong>
                        {% for field, error in form.errors.items %}
                        <p>{{ field }}: {{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- Add your create form here -->
                    {% load cloudinary %}
                    <form method="post" action="{% url 'add_event' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.featured_image.id_for_label }}">Featured Image:</label>
                            <input type="file" name="{{ form.featured_image.name }}" id="{{ form.featured_image.id_for_label }}">
                            {{ form.featured_image }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Title:</label>
                            <input type="text" name="title" id="id_title">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.event_date.id_for_label }}">Event Date:</label>
                            <input type="date" name="event_date" id="id_event_date">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.event_description.id_for_label }}">Event Description:</label>
                            <input type="text" name="event_description" id="id_event_description">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.event_location.id_for_label }}">Event Location:</label>
                            <input type="text" name="event_location" id="id_event_location">
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                    {{ form.media }}
                </div>
            </div>
        </div>
    </div>
    <!-- Cards generated from admin page -->
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            {% for post in post_list %}
            <div class="card-group mt-4">
                <div class="card">
                    <div class="event_image_container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" />
                        {% else %}
                        <img src=" {{ post.featured_image.url }} " class="card-img-top" />
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ post.title }}</h5>
                        <p class="card-text text-center text-muted">{{ post.event_date }}</h6>
                        <p class="card-text text-center">{{ post.event_description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-adress">Adress: {{ post.event_location }}</p>
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- If more than six events, the page i paginated -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination mt-4 justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</section>

{% endblock %}
