{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans "My Bookings" %}
{% endblock head_title %}
{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pizza-roller.2.jpg' %}" alt="Pizza" />

            <div
                class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                <!-- Display Existing Bookings -->
                <div class="col-12">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        {% if message.tags and message.tags == 'error' %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <h3 class="mb-3">My Bookings</h3>
                    {% if bookings %}
                    {% if bookings|length > 1 %}
                    <div class="row">
                        <div class="col-md-6">
                            {% for booking in bookings|slice:":((bookings|length)//2)" %}
                            {% if booking.date >= today %}
                            <!-- Display booking information for future bookings -->
                            <div class="resposive-text-size">
                                <strong>Booking ID:</strong> {{ booking.number }}<br>
                                <strong>Date:</strong> {{ booking.date|date:"F j, Y" }}<br>
                                <strong>Time:</strong> {{ booking.time|time:"g:i A" }}<br>
                                <strong>Location:</strong> {{ booking.location }}<br>
                                <strong>Reference:</strong> {{ booking.last_name }}<br>
                    
                                {% if user.is_authenticated and user == booking.user %}
                                <!-- Buttons to open edit and delete modals -->
                                <button type="button" class="btn btn-primary mb-2 booking-btn" data-toggle="modal"
                                    data-target="#editBookingModal{{ booking.number }}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger mb-2 booking-btn" data-toggle="modal"
                                    data-target="#deleteBookingModal{{ booking.number }}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button><br>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- Add similar code for the second column -->
                    </div>
                    {% else %}
                    <div class="resposive-text-size">
                        {% for booking in bookings %}
                        {% if booking.date >= today %}
                        <!-- Display booking information for future bookings -->
                        <strong>Booking ID:</strong> {{ booking.number }}<br>
                        <strong>Date:</strong> {{ booking.date|date:"F j, Y" }}<br>
                        <strong>Time:</strong> {{ booking.time|time:"g:i A" }}<br>
                        <strong>Location:</strong> {{ booking.location }}<br>
                        <strong>Reference:</strong> {{ booking.last_name }}<br>
                    
                        {% if user.is_authenticated and user == booking.user %}
                        <!-- Buttons to open edit and delete modals -->
                        <button type="button" class="btn btn-primary mb-2 booking-btn" data-toggle="modal"
                            data-target="#editBookingModal{{ booking.number }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger mb-2 booking-btn" data-toggle="modal"
                            data-target="#deleteBookingModal{{ booking.number }}">
                            <i class="fa-regular fa-trash-can"></i>
                        </button><br>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% else %}
                    <p>No bookings found.</p>
                    {% endif %}
                    <br>
                
                    <!-- Create New Booking Form -->
                    <h5 class="mb-3">New Booking</h5>
                    <a class="btn btn-primary" href="{% url 'booking:booking_create' %}">New Booking</a>
                </div>
            </div>
            {% for booking in bookings %}
                <!-- Edit Booking Modal -->
                <div class="modal fade" id="editBookingModal{{ booking.number }}" tabindex="-1" role="dialog"
                    aria-labelledby="editBookingModalLabel{{ booking.number }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editBookingModalLabel{{ booking.number }}">Edit Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Add your edit form here, prepopulating with existing content -->
                                <form method="post" action="{% url 'booking:booking_edit' pk=booking.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group text-white">
                                        <label for="id_date">Date:</label>
                                        <input type="date" name="date" id="id_date" class="form-control" value="{{ booking.date }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_time">Time:</label>
                                        <input type="time" name="time" id="id_time" class="form-control" value="{{ booking.time }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_location">Location:</label>
                                        <input type="text" name="location" id="id_location" class="form-control" value="{{ booking.location }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_last_name">Last Name:</label>
                                        <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ booking.last_name }}">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Delete Booking Modal -->
                
                <div class="modal fade" id="deleteBookingModal{{ booking.number }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteBookingModalLabel{{ booking.number }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteBookingModalLabel{{ booking.number }}">Delete Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Booking?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'booking:booking_delete' booking.number %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}