{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans "My Bookings" %}
{% endblock head_title %}
{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pexels-nataliya-vaitkevich-5792329.jpg' %}"
                alt="Sebbe and Petter in the truck" />

            <div
                class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-conent-center align-items-center text-center">
                <!-- Display Existing Bookings -->
                <div class="col">
                    <h3 class="mb-3">My Bookings</h3>

                    <!-- Create New Booking Form -->
                    <h5 class="mb-3">Create New Booking</h5>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                        {{ field|title }}: {{ error }}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form action="{% url 'booking:booking_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group text-white">
                            <label for="{{ form.booking_date.id_for_label }}">Date:</label>
                            <input type="date" name="{{ form.booking_date.name }}" id="{{ form.booking_date.id_for_label }}"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.booking_time.id_for_label }}">Time:</label>
                            <input type="time" name="{{ form.booking_time.name }}" id="{{ form.booking_time.id_for_label }}"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.booking_location.id_for_label }}">Location:</label>
                            <input type="text" name="{{ form.booking_location.name }}" id="{{ form.booking_location.id_for_label }}"
                                class="form-control">
                        </div>
                        <button class="btn btn-primary" type="submit">Create Booking</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}