{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans "My Bookings" %}
{% endblock head_title %}
{% block content %}
<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pizza-roller.2.jpg' %}" alt="Pizza" />

            <div
                class="mx-auto booking-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                <!-- Create New Booking Form -->
                <div class="col-12">
                    <h5 class="booking-header">Create New Booking</h5>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                        {{ field|title }}: {{ error }}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form action="{% url 'booking:booking_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group resposive-text-size text-white">
                            <label for="{{ form.date.id_for_label }}">Date:</label>
                            <input type="date" name="{{ form.date.name }}" id="{{ form.date.id_for_label }}" class="form-control">
                        </div>
                        <div class="form-group resposive-text-size">
                            <label for="{{ form.location.id_for_label }}">City:</label>
                            <input type="text" name="{{ form.location.name }}" id="{{ form.location.id_for_label }}" class="form-control">
                        </div>
                        <div class="form-group resposive-text-size">
                            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                            <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" class="form-control">
                        </div>
                        <button class="btn btn-primary resposive-text-size" type="submit">Create Booking</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}