@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* -------------------- Initial styling */

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

p {
    text-transform: uppercase;
}

/* -------------------- Log out button, top of screen */

.logout-button {
    margin-right: 30px;
    padding: 5px;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: red;
    border: 1px solid red;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* -------------------- Navbar */

#logotype {
    height: 150px;
    width: auto;
}

.navbar .container {
    width: auto;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    height: 50px;
    width: 230px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-link {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.logout {
    color: white;
}

.before-hover-content,
.hover-content {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.2;
}

#about {
    cursor: pointer;
}

#about a {
    display: block;
    width: 100%;
    height: 100%;
}

#booking {
    cursor: pointer;
}

#booking a {
    display: block;
    width: 100%;
    height: 100%;
}

#review {
    cursor: pointer;
}

#review a {
    display: block;
    width: 100%;
    height: 100%;
}

#account {
    cursor: pointer;
}

#account a {
    display: block;
    width: 100%;
    height: 100%;
}

#login {
    cursor: pointer;
}

#login a {
    display: block;
    width: 100%;
    height: 100%;
}

/* -------------------- Footer */

.upper-footer {
    background: white;
    width: 100%;
}

/* -------------------- Hovering effects */

/* Log out button, top right corner */
.logout-button:hover {
    opacity: 1;
}

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
}

/* Events button */
.navbar-nav .nav-item .nav-link.events .before-hover-content {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.events .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.events:hover .hover-content {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link.events:hover .before-hover-content {
    opacity: 0;
}

/* Review button */
.navbar-nav .nav-item .nav-link.review .before-hover-content {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.review .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.review:hover .hover-content {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link.review:hover .before-hover-content {
    opacity: 0;
}

/* Booking button */
.navbar-nav .nav-item .nav-link.booking .before-hover-content {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.booking .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.booking:hover .hover-content {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link.booking:hover .before-hover-content {
    opacity: 0;
}

/* Login button */
.navbar-nav .nav-item .nav-link.login .before-hover-content {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.login .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.login:hover .hover-content {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link.login:hover .before-hover-content {
    opacity: 0;
}

/* Account button */
.navbar-nav .nav-item .nav-link.account .before-hover-content {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.account .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.account:hover .hover-content {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link.account:hover .before-hover-content {
    opacity: 0;
}

/* Social links */
.btn:hover {
    border: 1px solid #6dbf9c;
    border-radius: 5px;
}

/* -------------------- Sweep effect */
.hvr-sweep-to-bottom:before {
    background: #6dbf9c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -------------------- Home Page */

.hero {
    width: 75%;
    margin: 15px 15px 0 15px;
    /* border-radius: 10px; */
    padding: 15px;
}

.hero img {
    height: auto;
    border-radius: 10px;
}

/* -------------------- Events page */
.card-group {
    width: 320px;
    height: auto;
    margin: 20px;
}

.card {
    width: 320px;
    height: auto;
}

.create_event input {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 95%;
}

.create_event textarea {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 95%;
}

.create_event .form-group {
    margin-bottom: 0.5rem;
}

#id_event_description {
    height: 5rem;
}

.event_image_container {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-text {
    font-size: small;
}

.card-footer {
    font-size: small;
}

.page-link {
    color: black;
    background-color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

.page-link:before {
    color: black;
}

.page-link:hover {
    color: black;
}

/* -------------------- Log in page */

.login-image {
    filter: brightness(0.25);
}

.login-form {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form a {
    text-transform: uppercase;
}

.login-form .errorlist li {
    list-style-type: none;
    color: red;
}

.login-form .helptext {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}

/* -------------------- Sign up page */
.signup-form {
    width: 95%;
    padding: 30px 10px 30px 10px;
    position: absolute;
    color: white;
}

.ur-form ul {
    display: none;
}

.responsive-margin {
    margin-bottom: 3rem;
}

.resposive-text-size input {
    font-size: medium;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.signup-image {
    filter: brightness(0.25);
    width: auto;
    max-height: 768px;
    object-fit: contain;
}

.hero-signup {
    margin: 15px 15px 0 15px;
    padding: 15px;
}

input {
    color: white;
}

.input-margin {
    margin-bottom: 20px;
}

/* -------------------- Account page */

.account_bg {
    filter: brightness(0.25);
}

/* -------------------- Password change page */
.account_pw {
    filter: brightness(0.25);
    width: 100%;
    max-height: 768px;
    object-fit: contain;
    border-radius: 20px;
}

.pwc-form {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pwc-form a {
    color: white;
}

.forgot_pw {
    display: block;
    margin: 8px;
}

.contact-us a {
    color: #6dbf9c;
}

/* -------------------- Review Page */
.modal-content {
    width: 20rem;
}

#id_content {
    height: 10rem;
}

#content {
    width: 90%;
}

.selected {
    background-color: green;
}

.card {
    margin: 10px;
}

.card-div {
    padding-left: 0;
    padding-right: 0;
}

.card-body {
    width: 100%;
}

.review-body {
    padding: 0.5rem;
}

.booking-btn {
    font-size: x-small;
    padding: 3px 6px;
}

/* -------------------- Booking page */
.card .btn {
    font-size: x-small;
    padding: 3px 6px;
}

.alert-error {
    color: red;
}

.staff-button {
    background: #6dbf9c;
    margin: 20px;
    border: none;
}

/* -------------------- New booking page */

.booking-form {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.booking-form input {
    background: transparent;
    color: white;
}

.booking-header {
    margin-bottom: 3rem;
}

/* -------------------- Forms */
form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

form button {
    height: 30px;
    width: auto;
    text-transform: uppercase;
    background: #6dbf9c;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

form button.cancel {
    background: red;
}

form button.cancel a {
    text-decoration: none;
}

.go_back {
    height: 30px;
    width: auto;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 30px;
}

.go_back a {
    text-decoration: none;
}

.resposive-text-size .errorlist li {
    list-style-type: none;
    color: red;
}

.resposive-text-size li {
    list-style-type: none;
}

.messages .success {
    list-style-type: none;
}


/* -------------------- Medium screens and down */

@media (max-width: 990px) {
    .logout-button {
        font-size: small;
    }

    .navbar-nav {
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
    }

    .nav-item {
        margin: 1px;
    }

    .hero {
        width: 100%;
        margin: 15px 15px 0 15px;
        border-radius: 10px;
        padding: 15px;
    }

    .login-image {
        width: 100%;
    }

    .container {
        max-width: 100%;
    }

    .resposive-text-size {
        font-size: medium;
    }
}

/* -------------------- Small screens */

@media (max-width: 768px) {
    .hero {
        margin: 0;
    }

    .login-form {
        width: 90%;
        /* border: none; */
    }

    .pwc-form {
        width: 80%;
    }

    .login-form p {
        font-size: small;
    }

    .ur-form p {
        margin-bottom: 1px;
    }

    .logout-button {
        font-size: small;
    }

    .resposive-text-size {
        font-size: small;
    }

    .resposive-text-size input {
        font-size: small;
    }

    .create-button {
        font-size: small;
    }

    .signup-button {
        font-size: small;
        margin-top: none;
    }
}

@media (max-width: 425px) {
    .login-form {
        width: 90%;
        border: none;
    }

    .booking-form {
        width: 80%;
    }

    .form-group {
        margin-bottom: 3px;
    }

    .login-form p {
        font-size: x-small;
    }

    .login-form h3 {
        font-size: x-small;
    }

    .login-form button {
        margin: 0;
    }

    .logout-button {
        font-size: x-small;
    }

    .resposive-text-size {
        font-size: x-small;
    }

    .resposive-text-size input {
        font-size: x-small;
    }

    .resposive-text-size p {
        margin-bottom: 0.5rem;
    }
    
    .form label {
        margin-bottom: 3px;
    }

    .create-button {
        font-size: x-small;
    }

    .signup-button {
        font-size: x-small;
        margin-top: none;
    }

    .input-margin {
        margin-bottom: 10px;
    }

    .hero-signup {
        margin: 0;
    }

    .booking-header {
        margin-bottom: 0;
    }

    .responsive-margin {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {
    .resposive-text-size ul {
        display: none;
    }

    .signup-button {
        font-size: x-small;
        margin-top: none;
    }
}

