@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

/* Log out button */

.logout-button {
    margin-right: 30px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: red;
    border: 1px solid red;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Navbar */

#logotype {
    height: 150px;
    width: auto;
}

.navbar .container {
    width: auto;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    height: 50px;
    width: 230px;
    position: relative;
}

.nav-link {
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-hover-content,
.hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.2;
}

/* Footer */

.upper-footer {
    background: white;
    width: 100%;
}

/* Hovering effects */

/* Log out button */
.logout-button:hover {
    opacity: 1.0;
}

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
}

/* Events button */
.navbar-nav .nav-item .nav-link.events .before-hover-content {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.events .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.events:hover .hover-content {
    opacity: 1;
    color: black;
}

.navbar-nav .nav-item .nav-link.events:hover .before-hover-content {
    opacity: 0;
    color: black;
}

/* Review button */
.navbar-nav .nav-item .nav-link.review .before-hover-content {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.review .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.review:hover .hover-content {
    opacity: 1;
    color: black;
}

.navbar-nav .nav-item .nav-link.review:hover .before-hover-content {
    opacity: 0;
    color: black;
}

/* Booking button */
.navbar-nav .nav-item .nav-link.booking .before-hover-content {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.booking .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.booking:hover .hover-content {
    opacity: 1;
    color: black;
}

.navbar-nav .nav-item .nav-link.booking:hover .before-hover-content {
    opacity: 0;
    color: black;
}

/* Login button */
.navbar-nav .nav-item .nav-link.login .before-hover-content {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.login .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.login:hover .hover-content {
    opacity: 1;
    color: black;
}

.navbar-nav .nav-item .nav-link.login:hover .before-hover-content {
    opacity: 0;
    color: black;
}

/* Log out button */
.navbar-nav .nav-item .nav-link.logout .before-hover-content {
    color: white;
    background: red;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.logout .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link.logout:hover .hover-content {
    opacity: 1;
    color: black;
}

.navbar-nav .nav-item .nav-link.logout:hover .before-hover-content {
    opacity: 0;
    color: black;
}

.hvr-sweep-to-bottom:before {
    background: #6dbf9c;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hvr-sweep-to-bottom .nav-link.logout:before {
    background: red;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Social links */
.btn i:hover {
    border: 1px solid #6dbf9c;
    border-radius: 5px;
}

/* Home Page */

.hero {
    width: 75%;
    margin: 15px 15px 0 15px;
    border-radius: 10px;
    padding: 15px;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Events page */

.card {
    width: 400px;
    height: auto;
}

.page-link {
    color: black;
    background-color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

.page-link:before {
    color: black;
}

.page-link:hover {
    color: black;
}

/* Medium screens and down */

@media (max-width: 990px) {
    .logout-button {
        font-size: x-small;
    }
    
    .navbar-nav {
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
    }

    .nav-item {
        margin: 1px;
    }

    .hero {
        width: 100%;
        margin: 15px 15px 0 15px;
        border-radius: 10px;
        padding: 15px;
    }
