{% extends "base.html" %}
{% load static %}
{% block content %}

<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container">
            <img class="img-fluid account_bg" src="{% static 'img/pexels-narda-yescas-1566837 (1).jpg' %}"
                alt="Sebbe och Petter i vagnen" />

            <div class="mx-auto login-form">
                <h3 class="text-center">Your account information</h3>
                <p class="text-center">If you want to edit your information, you can do so by changing the fields and
                    click "Update Account"</p>
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col">
                        <form method="post" action="{% url 'edit_profile' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p>If you want to edit your password, please click <a href="{% url 'password_change' %}"
                                    class="form-link">this</a> link.</p>
                            <button type="submit" class="btn btn-primary">Update Account</button>
                            <button type="submit" class="btn btn-danger">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

