{% extends "base.html" %} 
{% load static %} 
{% block content %} 

<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container">
            <img class="img-fluid account_bg" src="/static/img/pexels-narda-yescas-1566837 (1).jpg"
            alt="Sebbe och Petter i vagnen" />

            <div class="mx-auto login-form top-50 start-50 translate-middle row d-flex justify-conent-center align-items-center text-center">
                
                <div class="col">
                    <form method="post" action="{% url 'edit_profile' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>If you want to edit you password, please click <a href="{% url 'password_change' %}">this</a> link.</p>
                        <button type="submit">Update Account</button>
                        <button type="submit">Delete Account</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


