{% extends "base.html" %}
{% load static %}
{% block content %}

<hr class="mx-auto" style="width: 75%" />
<section class="d-flex align-items-center justify-content-center">
    <div class="hero position-relative">
        <div class="container text-center">
            <img class="img-fluid mx-auto signup-image" src="{% static 'img/pizza-roller.jpg' %}" alt="Pizza slicer" />

            <!-- Header div -->
            <div class="mx-auto login-form top-50p start-50p translate-middle row d-flex justify-content-center align-items-center text-center">
                    <h5 class="text-center">Your account information</h5>
                    <p class="text-center">If you want to edit your information, you can do so by changing the fields and
                        click "Update Account"</p>
                <!-- Update profile div -->
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col">
                        <form method="POST" action="{% url 'edit_profile' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p>If you want to edit your password, please click <a href="{% url 'change_password' %}"
                                    class="form-link">this</a> link.</p>
                            <button type="submit" class="btn btn-success resposive-text-size" data-mdb-ripple-init>Update Account</button>
                            <!-- Button to open delete account modal -->
                            <button type="button" class="btn btn-danger resposive-text-size" data-toggle="modal"
                                data-target="#deleteAccountModal">
                                Delete Account
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'delete_user_view' %}">
                    {% csrf_token %}
                    <!-- Add any additional fields or confirmations here -->
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


